# Conteúdo CORRETO para o arquivo requirements.txt
robotframework
robotframework-seleniumlibrary
robotframework-requests
robotframework-faker
robotframework-browser # Adicionando esta, pois vi o comando 'rfbrowser init'
